*{
  font-family: 'Poppins';
}

body{
  box-sizing: border-box;
  margin:0
}

.text{
  color: white;
font-size: 18px;
font-weight: 400;
}

.text-changeColor{
  color: rgb(204, 140, 140);
}

/* aa */

.portfolio__works__contenedor-principal{
  background-color: black;
  padding: 100px;
}

.portfolio__works__card-contenedor{
  display: flex;
  gap:20px;
  justify-content: center;
  margin: 100px;
}

@media (max-width:960px){
  .portfolio__works__contenedor-principal{
    padding: 20px;
  }
  .portfolio__works__card-contenedor{
    display: grid;
  }
}

